# 환경 변수 / 비밀키
.env
user_config.json

# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/

# IDE
.vscode/
.idea/

# 임시파일
*.log
*__bt_temp*
*.tmp

# OS
Thumbs.db
.DS_Store
*.tmp.*
cache/
nul
GoldenToilet_ref/
